/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #01061d;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: #f1f1f1;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    /* line-height: 25px; */
    /* border-radius: 4px; */
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #01061d;
    color: rgb(107, 183, 206);
  }
  .logo {
      margin-left: 30px;
  }
  
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    margin-right: 25px;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #01061d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(233, 232, 232);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  a:hover, .dropdown:hover .dropbtn {
    background-color: #01061d;
    color: #f1f1f1;
  }
  
  .dropdown-content a:hover {
    background-color:  #01061d;
    color: rgb(107, 183, 206);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  