* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
font-family: "Open Sans", sans-serif;
background: hsl(204, 100%, 4%);
color: hsl(209, 61%, 16%);
line-height: 1.5;
font-size: 0.875rem;
}

.header {
/* overflow: hidden; */
background-color: #001e27;
padding: 8px 8px;
position: fixed;
width: 100%;
}

/* Style the header links */
.header a {
float: left;
color: #f1f1f1;
text-align: center;
padding: 0px 26px;
text-decoration: none;
font-size: 18px;
/* line-height: 25px; */
/* border-radius: 4px; */
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
font-size: 25px;
font-weight: bold;

}

/* Change the background color on mouse-over */
.header a:hover {
background-color: #001e27;
color: rgb(107, 183, 206);
}
.logo {
  margin-left: 30px;
  background-image: url("Images/stockholm2.png");
}


/* Float the link section to the right */
.header-right {
float: right;
margin-right: 50px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
.header a {
  float: none;
  display: block;
  text-align: left;
}
.header-right {
  float: none;
}
}

.icon {
display: none;
}

.dropdown {
float: left;
overflow: hidden;
margin-left: 20px;
}

.dropdown .dropbtn {
font-size: 17px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color:#001e27;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

a:hover, .dropdown:hover .dropbtn {
background-color: #001e27;
color: #3489d1;
}

.dropdown-content a:hover {
background-color: #001e27;
color: #3489d1;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropbtn{
background-image: url("Images/user.svg");
background-size: cover;
background-repeat: no-repeat;
border-radius: 50%;
border: 2px solid rgba(255, 255, 255, 0.2);
color: #FFF;
padding: 16px;
font-size: 16px;
border: none;
border-radius: 2px 2px;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus, .mdropbtn:hover, .mdropbtn:focus{
background-color: #b6b7b869;
}

.dropdown-content, .more{
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content a:hover{
background-color: #ddd;
}
.more a:hover{
background-color: #ddd;
}

.show{
display: block;
}

/* slider */
.main-header{
height: 300px;
width: 100%;
overflow: hidden;
box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}
.main-header .images{
height: 100%;
width: 100%;
}
.images img{
height: 100%;
width: 100%;
}

/* HOME CARD */
.card__list{
margin-bottom: 80px;
}
.heading{
color: #ddd;
text-align: center;
font-size: 1.9em;
padding: 10px;
margin-bottom: 50px;

}

.card__row {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin: 10px 0;

}

.card {
display: flex;
flex-direction: column;
margin: 10px 0 10px;
width: 15rem;
border-radius: 0px;
align-items: center;
border: 1px solid #ebebeb;
box-shadow: 5px 5px #444141;
}

.card:hover {
display: flex;
flex-direction: column;
background-color: rgb(80, 80, 80);
margin: 10px 0;
width: 15rem;
border-radius: 0px;
align-items: center;
border: 1px solid #ebebeb;
box-shadow: 5px 5px #ebebeb;
}

.card__image {
width: 15rem;
height: 15rem;
object-fit: fill;
border-radius: 1px 1px 0 0;
padding: 0 0 10px 0;
}

.card__image:hover{
background-color: darkorange;
}

.card__name {
color: #ddd;
font-weight: 530;
font-size: 1.2rem;
padding: 7px 0;
}

.card__price {
color: #ddd;
font-style: italic;
font-weight: 400px;
}


.card .comment-button{
color: #ddd;
text-align: center;
padding: 14px;
}

.card .comment-button button{
padding: 5px;
background-color: green;
outline: none;
border: 1px solid #3489d1;
font-size: 12px;
color: #ebebeb;
cursor: pointer;
}

.card .comment-button button:hover{
background-color: #3489d1;
}


.card .card-button{
text-align: center;
padding: 20px;
}

.card .card-button button{
padding: 6px;
background-color: #f0cd1f;
outline: none;
border: 1px solid #3489d1;
font-size: 15px;
cursor: pointer;
}

.card .card-button button:hover{
background-color: rgb(224, 223, 222);
}
/* ---------------------------------------------- */

.movie-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Booter - Zero Zero";
  font-weight: normal;
  color: white;
  height: auto;
}

.movie-name-large {
  font-size: 8em;
}

.content-section {
  margin: 0.5em;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.0em;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.5em;
}

.about-movie-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.footer {
grid-area: footer;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 16px;
color: #777;
background-color: #FFF;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: rgb(255, 255, 255);
}

.shop-items {
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  /* column-count: 3; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 0;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: rgb(255, 253, 253);
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 15.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: rgb(253, 253, 253);
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 65px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #f00000;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: rgb(255, 245, 245);
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.cart-total-price {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

img:not(.logo) {
width: 100%;
}
img {
display: block;
}

h1,
h2,
h3,
h4 {
letter-spacing: 0.25rem;
text-transform: capitalize;
line-height: 1.25;
margin-bottom: 0.75rem;
font-family: "Roboto", sans-serif;;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2rem;
}
h3 {
font-size: 1.25rem;
}
h4 {
font-size: 0.875rem;
}
p {
margin-bottom: 1.25rem;
color:clear  hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1rem;
}
body {
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}
}
/*  global classes */

.btn {
text-align: center;
vertical-align: middle;
padding: .67em .67em;
cursor: pointer;
background-color: #0d355879;
text-transform: uppercase;
/* background: transparent; */
color: rgb(255, 255, 255);
padding: 0.375rem 0.75rem;
letter-spacing: 0.25rem;
display: inline-block;
transition: all 0.3s linear;;
font-size: 0.875rem;
border: 2px solid #222;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
border-radius: 0.5rem;
}
.btn:hover {
color: #ffff;
background: #222;
}
/* section */
.section {
padding: 5rem 0;
}

.section-center {
width: 100vw;
margin: 0 auto;
max-width: 1170px;
}
@media screen and (min-width: 992px) {
.section-center {
  width: 95vw;
}
}
.title {
text-align: center;
margin-bottom: 4rem;
}
.title p {
width: 80%;
margin: 0 auto;
}

.about-img {
margin-bottom: 2rem;
}
.about-img img {
border-radius: 0.5rem;
object-fit: cover;
height: 20rem;
}
@media screen and (min-width: 992px) {
.about-img {
  margin-bottom: 0;
}

.about-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100vh;
  overflow-x: auto;
}
.btn-container {
float: right;
margin-right: 50px;
border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
padding: 3px;
}
.tab-btn:nth-child(1) {
border-top-left-radius: 0.5rem;
}
.tab-btn:nth-child(3) {
border-top-right-radius: 0.5rem;
}
.tab-btn {
padding: 0.2rem 0;
border: none;
color: #ebebeb;
text-transform: capitalize;
font-size: 1rem;
display: block;
cursor: pointer;
transition: all 0.3s linear;
letter-spacing: 0.25rem;
}
.tab-btn:hover:not(.active) {
color: white;
}
.about-content {
border-bottom-left-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
padding: 2rem 1.5rem;
}
/* hide content */
.content {
display: none;
}
.tab-btn.active {
background: rgba(105, 101, 101, 0.815);
}
.content.active {
display: block;
}


/*CONTACT BUTTON*/
#contact-btn{
border-radius: 20px 20px;
width: 100%;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
height: 150px;
background-color: #F4F7FF;
margin: 20px 0px;
box-sizing: border-box;
box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
}
.c-b-heading{
font-size: 1.5rem;
color:#1E1E1E;
font-family: calibri;
margin: 10px;
padding: 5px;
letter-spacing: 4px;
border-bottom: 2px solid #1E1E1E;

}
.twitter{
background-image: url('Images/twitter.png');
/* background-size: 100% 100%; */
background-repeat: no-repeat;
background-position: center;
}
.linkdin{
background-image: url('Images/linkedin.png');
/* background-size: 100% 100%; */
background-repeat: no-repeat;
background-position: center;
}
.github{
background-image: url('Images/phone.png');
/* background-size: 100% 100%; */
background-repeat: no-repeat;
background-position: center;
}
.facebook{
background-image: url('Images/facebook.png');
/* background-size: 100% 100%; */
background-repeat: no-repeat;
background-position: center;
}
#contact-btn button{
border-radius: 40px 40px;
color:#FFFFFF;
font-size: 1rem;
font-family: calibri;
width:40px;
height: 40px;
margin: 10px;
background-color: #1E1E1E;
border: none;
outline: none;
box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}
#contact-btn button:hover{
background-color: #17d1ac;
color:#000000;
transition: all ease 0.5s;
font-weight: bold;
}
/* CONTACT FORM */
#contact-form{
width: 100%;
height: 90vh;
display: flex;
justify-content: center;
align-items: center;

}
#contact-form form{
display: flex;
width: 70%;
height: 60vh;
background-color: #1A1A1A;
box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
border: 1px solid rgba(255,255,255,0.01)
}

.contact-left{
width: 40%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.contact-right{
width: 60%;
height: 100%;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
border-left: 1px solid rgba(255,255,255,0.08);
}
.contact-right button{
width: 100%;
height: 50px;
background-color: #1ED98B;
font-weight: bold;
outline: none;
border: none;
margin: 0px;
color:#1B1B1B;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;

}
.c-l-heading{
font-family: calibri;
color:#FFFFFF;
font-size: 3rem;
letter-spacing: 2px;
font-weight: 400;

}
.f-name,.f-email{
display: flex;
flex-direction: column;
font-family: calibri;

}
.f-name font,.f-email font{
color:#BFBFBF;
font-size: 22px;
}
.f-name input,.f-email input{
height: 30px;
width:250px;
border: none;
outline: none;
background-color:transparent;
border-bottom: 1px solid #929292;
color:#FFFFFF;
margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
opacity: 0.5;
letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
border-bottom: 1px solid #17d1ac;
transition: all ease 0.5s;
}.message font{
font-size: 18px;
color:#4E4E4E;
font-family: calibri;

}
.message{
margin: 20px;
}
.contact-right textarea{
width: 100% !important;
height: 320px !important;
border: none;
outline: none;
background-color:transparent;
box-sizing: border-box;
color:#EBEBEB;
font-size: 16px;
}
.contact-right textarea::placeholder{
color:#EBEBEB;
font-size: 18px;
letter-spacing: 2px;
font-family: calibri;
}
.contact-right button:active{
transform: scale(1.04);
transition: all ease 0.1s;
}
@media(max-width:900px){
.c-b-heading{
  font-size: 1.4rem;
  text-align: center;
 }
#contact-form{
  padding: 20px;
  height: auto;
  box-sizing: border-box;
 }
 #contact-form form {
  flex-direction: column;
  height:auto;
  padding: 20px;
  width:90% !important;
 
 }
 .contact-left,.contact-right{
  width:100%;
  border: none;
 }
 .f-name,.f-email{
  width: 100%;
 
 }
 .f-name input,.f-email input{
  width:100%;
  border: none;
  background-color: #262626 !important;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  
 }
 textarea{
  background-color: #262626 !important;
  margin: 10px 0px;
  padding: 10px;
  height: 200px !important;
  width:100% !important;
 }
 .message{
  margin:0px;
 }
 #contact-form form h1{
  margin:5px 0px;
 }
}