/* body margin and padding setting */
*{
  margin: 0;
  padding: 0;
}

body{
  background: lightgrey;
  /*font-family: poppins;*/
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    /* line-height: 25px; */
    /* border-radius: 4px; */
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #f1f1f1;
    color: purple;
  }
  .logo {
      margin-left: 30px;
  }
  
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    margin-right: 25px;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  /* Grid h1, h2 Card fonts*/

/*h1 { font-size: 40px;
  color: black; 
  font-weight: normal;

}


h2 { font-size: 40px;
color: black; 
font-weight: normal;
margin-top: 48px;
}*/


/*Stockholm cards*/

.card__list{
  margin-bottom: 80px;
}
.heading{
  text-align: center;
  font-size: 1.9em;
  padding: 10px;
  margin-bottom: 50px;
  
}

.card__row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 0;
  
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px;
  width: 15rem;
  border-radius: 0px;
  align-items: center;
  border: 1px solid #ebebeb;
  box-shadow: 5px 5px #ebebeb;
}

.card:hover {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  margin: 10px 0;
  width: 15rem;
  border-radius: 0px;
  align-items: center;
  border: 1px solid #ebebeb;
  box-shadow: 5px 5px #ebebeb;
}

.card__image {
  width: 15rem;
  height: 15rem;
  object-fit: fill;
  border-radius: 1px 1px 0 0;
  padding: 0 0 10px 0;
}

.card__image:hover{
  background-color: darkorange;
}

.card__name {
  font-weight: 530;
  font-size: 1.2rem;
  padding: 7px 0;
}

.card__price {
  font-style: italic;
  font-weight: 400px;
}


.card .comment-button{
  text-align: center;
  padding: 14px;
}

.card .comment-button button{
  padding: 5px;
  background-color: green;
  outline: none;
  border: 1px solid #3489d1;
  font-size: 12px;
  color: #ebebeb;
  cursor: pointer;
}

.card .comment-button button:hover{
  background-color: #3489d1;
}


.card .card-button{
  text-align: center;
  padding: 20px;
}

.card .card-button button{
  padding: 6px;
  background-color: #f0cd1f;
  outline: none;
  border: 1px solid #3489d1;
  font-size: 15px;
  cursor: pointer;
}

.card .card-button button:hover{
  background-color: darkorange;
}

/* Grid cards css END*/